*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body{
  background: #eef7fc;
  color: #141313 ;
}
#header{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

nav.sticky{
    padding: 5px 100px;
    background:#1c0219;
}

.container{
    padding: 10px 10%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width:100%;
    background-color: #1d2127;
    padding-left: 60px;
    z-index: 100000000;
}
nav ul li a {
    color: #e9e8e8;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}
nav ul li a ::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #6696ea;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover ::after{
    width: 100%;
}
.logo{
   padding-right: 20px;
}
.logo p{
    font-size: 25px;
}
.logo span{
    font-size: 30px;
    color: #6696ea;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    nav {
        padding-left: 20px;
        padding-right: 20px;
    }

    nav ul li {
        margin: 10px 10px;
    }

    nav ul li a {
        font-size: 20px;
    }

    .logo p {
        font-size: 22px;
    }

    .logo span {
        font-size: 25px;
    }
}

@media screen and (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 18px;
    }

    .logo p {
        font-size: 20px;
    }

    .logo span {
        font-size: 22px;
    }
}

.header-text{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text h1{
     font-size: 45px;
     margin-top: 20px;
}
.header-text span{
    color: #6696ea;
}
.header-text img{
   height: 500px;
   width: 500px;
   margin-top:-15px;
   padding-left: 50px;
}
/*----------------About----------------*/
#about{
    padding: 80px 0;
    color:#141c20;
}
.row{
    display: flex;
    justify-content:center ;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}
.about-col-1 {
    flex-basis: 35%;
} 
.about-col-1 img{
    width: 300px;
    height: 320px;
    border-radius: 8px;
}
.about-col-2{
     flex-basis: 60%;
     padding-left: 25px;
}
.sub-title{
    font-size: 30px;
    font-weight: 600;
    color: rgb(5, 6, 6);
    padding-bottom: 12px;
}
p{
    color: rgb(17, 19, 20);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    padding-right: 10px;
    margin-right: 5px;
    
}
@media (max-width: 600px){
    .row {
      flex-direction: column; 
      text-align: center;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
        padding-left: 0;
    }
    .about-col-1 img{
        margin-bottom: 10px;

    }
    .sub-title{
        font-size: 25px;
    }
    p{
      font-size: 12px;
      padding-left: 0;
      padding-right: 0;  
    }
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    display: inline;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color:#66acea;
    position: absolute;
    left: 0px;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.Hori-class {
    width: 100%;
    height: 180px;
    background-color: #d6dce4;
    border: 1px solid #080808;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.con {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
}
.con::-webkit-scrollbar{
    display: none;
}

.con .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #211b1b;
    width: 100%;
   
}

.skill-item img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 2px solid #000000;
}

.Hori-class::-webkit-scrollbar{
    display: none;
}
#left, #right {
    width: 80px; 
    height: 80px;
    background-color: #d1dbe0; 
    border: none;
    border-radius: 50%; 
    color: #6696ea;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}
.end{
    color: white;
}
.btn-scroll:hover {
    background-color: #093841; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); 
}

.btn-scroll i {
    font-size: 20px; 
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #6696ea;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
   display: flex;
}
#Projects{
    padding: 30px 0;
}
.Project-list{
    width: 100%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px,2fr));
    grid-gap: 100px;
}
.Project-list img{
    width: 500px;
    height: 350px;
    cursor: pointer;
}
.imag:hover img{
    transform: scale(1.2) ;
}
.imag{
    position: relative;
    width: auto;
    height: auto;
    cursor: pointer;
    
}
.cov{
    position: absolute;
    top: 0;
    left: 0;
    width: 598px;
    height: 453px;
    margin-top: -37px;
    margin-left: -49px;
    background-color: rgba(0, 0, 0, 0.6);  
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
    pointer-events: none;
}

.imag:hover .cov{
    opacity: 1;
}
.imag img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;

}
.A {
    width: 500px;
    height: 380px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
}


.A:hover {
    border-color: #3a3d3e;
}
.B{
    position: absolute;
    width: 100%;
    text-align: center;
    color:rgb(0, 56, 86);
    opacity: 0;
    font-size: 50px;
    font-weight: bold;
    transition:  0.5s ease;  
    margin-top: -220px;  
    
}
.B a{
    color: rgb(140, 167, 181);
}
.imag:hover .B{
    opacity: 1;
}
.imag:hover .cov{
    opacity: 1;
}

.contact-right{
    flex-basis: 50%;
    margin-right: -70px;
}
.contact-left{
    margin-left: -100px;
    padding-right: 40px;
}
.contact-left p{
    margin-top: 30px; 
}
.contact-left p i{
    color: #6696ea;
    margin-right: 15px;
}

.Social-Media{
    margin-top: 30px;
}
.Social-Media a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #6696ea;
    display: inline-block;
    transition: transform 0.5s;
}
.Social-Media a:hover{
    color: #6696ea;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background-color:#6696ea;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.968);
    padding: 10px;
    margin-top: 30px;
    border-radius: 7px;
}
.contact-right form{
    width: 100%;
}
h2{
    color: #34383c;
}
h3{
    color: #373b3e;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #373b3e;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 7px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copy{
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #1a2124;
    font-weight: 300px;
    margin-top: 20px;
    
}
html{
    scroll-behavior: smooth;
}
/*-------------------------Responive---------------*/

@media screen and (max-width: 600px ){
    .header-text{
        margin-top: 0px;
        font-size: 16px;
        color: rgb(14, 195, 255);
        margin-left: -100px;
    }
    .header-text img{
        margin-left: -90px;
        width: 180px;
        margin-top: -40px;
    }
    .header-text h1{
       font-size: 30px;
       margin-left: 200px;
       padding-left: -100px;
    }
    
    
    nav ul{
        background: #6696ea;
        position: fixed;
        top: 0;
        right: -50px;
        width: 250px;
        height: 200vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
      display: block;
      margin: 25px;  
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    #about{
        margin-top: -140px;
    }
    .about-col-1 img{
        margin-left: 30px;
        width: 265px;
    }
    .about-col-2 {
        font-size: 14px
    }
    .about-col-2 p{
        margin-left: 45px;
        font-size: 16px;
    }
    .about-col-2 .sub-title{
        margin-left: 45px;
    }

    .tab-links{
        margin-right: -5px;
        font-size: 16px;
        padding-right: -5px;
     }
    .tab-links.active-link{
        margin-left: 10px;
        padding-left: 10px;
     }

    .Project-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,375px);
        grid-gap: 100px;
        margin-top: 50px;
        
       
    }
    .Project-list div{
        background-color: #67cde6;
        width: 350px;
        font-size: 13px;
        font-weight: 250px;
        margin-left: 15px;
        
        grid-template-columns: repeat(auto-fit,minmax(500px,500px));
        transition: background 0.5,transform 0.5s;
    }
    .Project-list img{
        width:340px;
        height: 350px;
        margin-left: -35px;
        padding-right: 20px;
    }
    #contact{
        width: 100%;
    }
    .copy{
        width: 115%;
        text-align: center;
        background: #48c1e2;
        font-weight: 300px;
        margin-top: 20px;
    }
  
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn a{
    display: inline-block;
    background-color: #6696ea;
    text-decoration: none;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 7px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 7px;
}
